body{
    margin: 0;
    background-color: #313131;

    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.navbar{
    display: flex;
    justify-content: center;
    gap: 40px;

    width: fit-content;
    margin: 40px auto;

    padding: 18px 35px;
    background-color: #201c1c;
    border-radius: 20px;
}

.navbar a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

    transition: 0.3s;
}

.navbar a:hover{
    color: #bdbdbd;
}

main{
    flex: 1;
}

.container{
    display: flex;
}

.hostProfile{
    flex: 1;
    position: sticky;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hostDetails{
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    text-align: center;
    padding: 20px;
    background-color: #201c1c;
    color: white;
}

@media (max-width: 768px){
    .navbar{
        gap: 20px;
        padding: 12px 20px;
        margin: 15px auto;
    }

    .container{
        display: block;
        height: auto;
    }

    .hostProfile{
        position: relative;
        height: auto;
    }

    .hostDetails{
        height: auto;
        overflow: visible;

        display: flex;
        flex-direction: column;

        padding: 2rem 1rem;
        gap: 2rem;
    }
}